.OutsideWeather {
  background-color: black;
  border: solid;
  border-color: #f39c12;
  color: white;
  margin-top: 10px;
  height: 250px;
}

.OutsideWeather h3 {
  padding-left: 10px;
}
.OutsideWeather p {
  padding-left: 20px;
  padding-right: 5px;
  font-size: 1.05em;
}
