.WeatherContainer {
  display: grid;
}

.OutsideWeather {
  background-color: #f39c12;
  border-radius: 5px;
  width: 30%;
  padding: 10px 50px 10px 50px;
  margin-top: 10px;
}

.OutsideWeather p {
  color: white;
  font-size: 1.15em;
}
