.resumeContainer {
  background-image: url("../../img/galaxy.jpg");
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 0px;
  overflow: hidden;
  border: none;
  background-color: black;
  transition: 0.5s;
  align-items: center;
  margin: 0px;
  height: 10vh;
}

.title {
  font-family: "Courier New", Courier, monospace;
  color: white;
  letter-spacing: 1px;
  padding-left: 10px;
  font-weight: bold;
  margin: 0px;
}

.loginForm {
  justify-self: right;
  margin-right: 5px;
}

.adminToggle {
  border: solid;
  margin-right: 5px;
  background-color: black;
  color: white;
  height: 25px;
  width: 60px;
  float: right;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.avatarImg {
  height: 250px;
  width: 250px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  align-self: center;
  justify-self: center;
  padding-bottom: 100px;
}
