.resumeContainer {
  background-image: url("../../img/galaxy.jpg");
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 1fr;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 0px;
  overflow: hidden;
  border: none;
  background-color: black;
  transition: 0.5s;
  align-items: center;
  margin: 0px;
}

.title {
  font-family: "Courier New", Courier, monospace;
  color: white;
  letter-spacing: 1px;
  padding-left: 10px;
  font-weight: bold;
  margin: 0px;
}

.loginForm {
  justify-self: right;
  margin-right: 5px;
}

.adminToggle {
  border: solid;
  margin-right: 5px;
  background-color: black;
  color: white;
  height: 25px;
  width: 60px;
  float: right;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.leftSide {
  display: grid;
  grid-template-rows: 15vh 1fr;
  justify-items: center;
}

.resumeNav {
  display: grid;
}

.navBtns {
  justify-self: center;
  align-self: end;
}

.navBtns button {
  padding: 10px 15px 10px 15px;
  letter-spacing: 1px;
  border: solid white;
}

.abtBtn {
  background-color: black;
  color: white;
}

.skillsBtn {
  background-color: white;
  color: black;
}
