.todoContainer {
  letter-spacing: 1px;
}

.todoList {
  display: grid;
  grid-template-columns: 80% 1fr 1fr;
  margin-bottom: 3px;
  align-items: center;
}

.todoContainer input {
  width: 99%;
  padding-left: 5px;
  border: solid white;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  height: 40px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 1.15em;
}

.todoList p {
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: 0px;
  border: solid;
  border-color: #3498db;
  background-color: black;
  color: white;
}

.todoList button {
  height: 40px;
  background-color: black;
  margin-left: 3px;
  letter-spacing: 0.5px;
}

.deleteBtn {
  border: solid;
  border-color: #e74c3c;
  color: #e74c3c;
}

.updateBtn {
  border: solid;
  border-color: #2ecc71;
  color: #2ecc71;
}
