.HomeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 275px 1fr;
  grid-column-gap: 15px;
  background-color: #34495e;
  background-image: url("../../img/galaxy.jpg");
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

.wqContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}
