.QuoteContainer {
  background-color: #8e44ad;
  color: White;
  border-radius: 5px;
  margin-top: 10px;
  height: 250px;
}

.QuoteContainer h3 {
  padding-left: 10px;
}

.QuoteContainer p {
  padding-left: 20px;
  font-size: 1.05em;
}
