.loginContainer {
  margin: 0px;
}

.txtInput {
  border-radius: 3px;
  font-size: 1.05em;
  letter-spacing: 1px;
  border: solid;
  border-right: none;
  border-radius: 0px;
}

.inputBtn {
  font-size: 1.15em;
  letter-spacing: 1px;
  border: solid;
  border-color: white;
  color: white;
  background-color: black;
}
